name: Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build, Analyze, and Deploy
    runs-on: self-hosted

    steps:
        # Checkout code
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

        # Set up JDK 21
      - name: Set up JDK 21
        uses: actions/setup-java@v1
        with:
          java-version: 21

        # Install Maven manually
      - name: Install Maven manually
        run: |
          rm -rf $HOME/maven/apache-maven-3.8.8
          curl -O https://downloads.apache.org/maven/maven-3/3.8.8/binaries/apache-maven-3.8.8-bin.tar.gz
          tar -xvzf apache-maven-3.8.8-bin.tar.gz
          mv apache-maven-3.8.8 $HOME/maven
          echo "MAVEN_HOME=$HOME/maven" >> $GITHUB_ENV
          echo "$HOME/maven/bin" >> $GITHUB_PATH

      # Verify Maven Installation
      - name: Verify Maven Installation
        run: mvn -version

        # Build and SonarQube analysis
      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: |
          mvn -B verify sonar:sonar -D"sonar.project.settings=./sonar-project.properties"

        # Build Docker image
      - name: Build Docker image
        run: |
          docker build -t carikk/quality-gate:latest .

        # Push Docker image to DockerHub or other container registry
      - name: Log in to DockerHub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: Push Docker image
        run: |
          docker push carikk/quality-gate:latest

      # Set up kubeconfig from secret
      - name: Set up kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG_CONTENT }}" > $HOME/.kube/config
          kubectl config use-context docker-desktop  # Set context to docker-desktop
          kubectl config set-context --current --namespace=ensakh

      # Verify Kubernetes context
      - name: Verify Kubernetes context
        run: |
          kubectl config current-context
          kubectl get namespaces

      - name: Deploy to kube
        run: |
          kubectl apply -f k8s/deployment.yaml

      - name: Verify Kubernetes context
        run: |
          kubectl config current-context
          kubectl get nodes
          kubectl get namespaces
          kubectl get pods
